<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homeless Resource Finder</title>
    <link rel="icon" href="../static/images/favicon.png" />
    <link rel="stylesheet" href="../static/css/gallery.css" />
  </head>
  <body>
    <div class="container">
      <div class="Menu Header">
        <div id="header_row" class="row">
          <div class="column">
            <button
              id="mapresults_btn"
              onclick="window.location.href='/mainmap'"
            >
              Map All Results
            </button>
            <button
              id="language_btn"
              onclick="window.location.href='/about_es'"
            >
              <img
                style="height:23px; width:28px;"
                src="../static/images/Espanol.png"
                alt=""
              />
            </button>
            <span class="btnsize">
              <img
                id="zoom"
                style="width:50px; height:50px; position:absolute; bottom:10px; left:10px;"
                src="../static/images/zoomin.png"
                alt=""
              />
            </span>
          </div>
          <div class="column">
            <h1 id="mainh1">Homeless Resource Finder</h1>
            <h3>Fill out the form below for personalized results <i>OR</i></h3>
            <form method="POST" action="/index" id="about" name="about">
              <button
                style="background-color: #2dd844; margin-top:5px;"
                type="submit"
                id="continue"
                onclick="window.location.href = 'http://localhost:5000/index';"
              >
                Skip
              </button>
            </form>
          </div>
          <div class="column">
            <a href="https://lanecounty.org/">
              <img
                id="lanecounty"
                src="../static/images/lanecounty.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div id="aboutinput" class="Menu Resources">
        <form method="POST" action="/index" id="about" name="about">
          <div id="gender_row" class="row">
            <div class="col">
              <label for=""><b>Gender</b></label>
            </div>
            <div class="column">
              <label class="radcont"
                >Male <input name="gender" id="male" value="M" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >Female
                <input name="gender" id="female" value="F" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >Transgender
                <input name="gender" id="trans" value="T" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >Other
                <input name="gender" id="trans" value="T" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <hr />
          <div id="gender_row" class="row">
            <div class="column">
              <label for=""><b>18+ Years Old?</b></label>
            </div>
            <div class="column">
              <label class="radcont"
                >Yes <input name="age" id="yes" value="Y" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >No <input name="age" id="no" value="N" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <hr />
          <div id="gender_row" class="row">
            <div class="column">
              <label for=""><b>Veteran?</b></label>
            </div>
            <div class="column">
              <label class="radcont"
                >Yes <input name="veteran" id="yes" value="Y" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >No <input name="veteran" id="no" value="N" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <hr />
          <div id="gender_row" class="row">
            <div class="column">
              <label for=""><b>Disabled?</b></label>
            </div>
            <div class="column">
              <label class="radcont"
                >Yes <input name="disabled" id="yes" value="Y" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >No <input name="disabled" id="no" value="N" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <hr />
          <div id="gender_row" class="row">
            <div class="column">
              <label for=""><b>Pets?</b></label>
            </div>
            <div class="column">
              <label class="radcont"
                >Yes <input name="pets" id="yes" value="Y" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >No <input name="pets" id="no" value="N" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <hr />
          <div id="gender_row" class="row">
            <div class="column">
              <label for=""><b>With Family?</b></label>
            </div>
            <div class="column">
              <label class="radcont"
                >Yes <input name="family" id="yes" value="Y" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="column">
              <label class="radcont"
                >No <input name="family" id="no" value="N" type="radio" />
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <button
            style="background-color: #2dd844; margin-top:45px;"
            type="submit"
            id="continue"
            onclick="window.location.href = 'http://localhost:5000/index';"
          >
            Continue
          </button>
        </form>
      </div>
      <div class="Menu ContactForm">
        <h2 style="font-size:28px;">Emergency Contacts</h2>
        <hr />
        <!-- IDEA: City of Eugene Helpline Contact Form -->

        <label style="color:#ef0b31" for="#EES"
          ><i>Eugene Emergency Services</i></label
        >
        <a id="EES" style="" href="tel:5413448757">
          <label for="">Phone: </label><u>(541) 344-8757</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a
          style="font-size:20px;"
          href="https://maps.google.com/maps?q=1255 Hilyard St, Eugene, OR 97401"
          target="_blank"
          ><label for="">Location: </label
          ><u>1255 Hilyard St, Eugene, OR 97401</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Sacred Heart Helpline Contact Form -->
        <hr />

        <label style="color:#ef0b31" for="#SHMC"
          ><i>Sacred Heart Medical Center Home Health Services</i></label
        >
        <a id="SHMC" style="" href="tel:5414617550">
          <label for="">Phone: </label><u>(541) 461-7550</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
          />
        </a>
        <a
          style="font-size:20px;"
          href="https://maps.google.com/maps?q=677 E 12th Ave, Eugene, OR 97401"
          target="_blank"
          ><label for="">Location: </label
          ><u>677 E 12th Ave, Eugene, OR 97401</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Non-Emergency Helpline Contact Form -->
        <hr />
        <label style="color:#ef0b31" for="#NEH"
          ><i>Non-Emergency Helpline</i></label
        >
        <a id="NEH" style="" href="tel:5416825111">
          <label for="">Phone: </label><u>(541) 682-5111</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a
          style="font-size:20px;"
          href="https://maps.google.com/maps?q=2232 Coburg Rd, Eugene, OR 97401"
          target="_blank"
          ><label for="">Location: </label
          ><u>2232 Coburg Rd, Eugene, OR 97401</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>
        <br />
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/scale.js"></script>
  </body>
</html>
