<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Buscador de recursos para personas sin hogar</title>
    <link rel="stylesheet" href="../static/css/gallery.css" />
  </head>
  <body>
    <div class="container">
      <div class="Menu Header">
        <h1>Acerca de ti</h1>
        <h3 style="font-size:24px">
           Tómese un momento para contarnos un poco sobre usted (o presione continuar ahora)
        </h3>
        <img
          style="height:150px; width:100px; position:absolute; right:0; top:25px; margin-right:60px;"
          src="../static/images/lanecounty.png"
          alt=""
        />
        <span class="btnsize">
          <img
            id="zoom"
            style="width:50px; height:50px; position:absolute; bottom:10px; left:10px;"
            src="../static/images/zoomin.png"
            alt=""
          />
        </span>
      </div>
      <div class="Menu Resources">
        <form method="POST" action="/index" id="about" name="about">
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">Género:</h3></div>
            <div class="column">
              <label for="male">Masculino</label>
              <input name="gender" id="male" value="M" type="radio" />
            </div>
            <div class="column">
              <label for="female">Hembra</label>
              <input name="gender" id="female" value="F" type="radio" />
            </div>
            <div class="column">
              <label for="trans">Transgénero</label>
              <input name="gender" id="trans" value="T" type="radio" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="column">
              <h3 style="font-size:20px;">¿18+ años de edad?</h3>
            </div>
            <div class="column">
              <label for="yes">Sí</label>
              <input name="age" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="age" id="no" value="N" type="radio" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">¿Veterano?</h3></div>
            <div class="column">
              <label for="yes">Sí</label>
              <input name="veteran" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="veteran" id="no" value="N" type="radio" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">¿Discapacitado?</h3></div>
            <div class="column">
              <label for="yes">Sí</label>
              <input name="disabled" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="disabled" id="no" value="N" type="radio" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">¿Mascotas?</h3></div>
            <div class="column">
              <label for="yes">Sí</label>
              <input name="pets" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="pets" id="no" value="N" type="radio" />
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="column">
              <h3 style="font-size:20px;">¿Estás con la familia?</h3>
            </div>
            <div class="column">
              <label for="yes">Sí</label>
              <input name="family" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="family" id="no" value="N" type="radio" />
            </div>
          </div>
          <button
            style="background-color: #2dd844; margin-top:25px;"
            type="submit"
            id="continue"
            onclick="window.location.href = 'http://localhost:5000/index_es';"
          >
            Continuar
          </button>
        </form>
      </div>
      <div class="Menu ContactForm">
        <h2 style="text-decoration:underline; font-size:28px;">
          Contactos de Emergencia
        </h2>

        <!-- IDEA: City of Eugene Helpline Contact Form -->

        <label style="color:#ef0b31" for="#EES"
          ><i>Servicios de Emergencia de Eugene</i></label
        >
        <a id="EES" style="" href="#">
          <label for="">Teléfono: </label>(541) 344-8757
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a style="font-size:20px;" href="5413448757"
          ><label for="">Ubicación: </label>1255 Hilyard St, Eugene, OR 97401
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Sacred Heart Helpline Contact Form -->
        <hr />

        <label style="color:#ef0b31" for="#SHMC"
          ><i>Centro Médico Sagrado Corazón Servicios de Salud en el Hogar</i></label
        >
        <a id="SHMC" style="" href="tel:5414617550">
          <label for="">Teléfono: </label>(541) 461-7550
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
          />
        </a>
        <a style="font-size:20px;" href="#"
          ><label for="">Ubicación: </label>677 E 12th Ave, Eugene, OR 97401
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Non-Emergency Helpline Contact Form -->
        <hr />
        <label style="color:#ef0b31" for="#NEH"
          ><i>Línea de ayuda que no es de Emergencia</i></label
        >
        <a id="NEH" style="" href="#">
          <label for="">Teléfono: </label>(541) 555-5555
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a style="font-size:20px;" href="5415555555"
          ><label for="">Ubicación: </label>2232 Coburg Rd, Eugene, OR 97401
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>
        <br />
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/scale.js"></script>
  </body>
</html>
