<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homeless Resource Finder</title>
    <link rel="stylesheet" href="../static/css/gallery.css" />
  </head>
  <body>
    <div class="container">
      <div class="Menu Header">
        <h1>About You</h1>
        <h3 style="font-size:24px">
          Please take a moment to tell us a little about yourself.
        </h3>
      </div>
      <div class="Menu Resources">
        <form method="POST" action="/index" id="about" name="about">
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">Gender:</h3></div>
            <div class="column">
              <label for="male">Male</label>
              <input name="gender" id="male" value="M" type="radio" />
            </div>
            <div class="column">
              <label for="female">Female</label>
              <input name="gender" id="female" value="F" type="radio" />
            </div>
            <div class="column">
              <label for="trans">Transgender</label>
              <input name="gender" id="trans" value="T" type="radio" />
            </div>
          </div>
          <div class="row">
            <div class="column">
              <h3 style="font-size:20px;">18+ Years Old?</h3>
            </div>
            <div class="column">
              <label for="yes">Yes</label>
              <input name="age" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="age" id="no" value="N" type="radio" />
            </div>
          </div>
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">Veteran?</h3></div>
            <div class="column">
              <label for="yes">Yes</label>
              <input name="veteran" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="veteran" id="no" value="N" type="radio" />
            </div>
          </div>
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">Disabled?</h3></div>
            <div class="column">
              <label for="yes">Yes</label>
              <input name="disabled" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="disabled" id="no" value="N" type="radio" />
            </div>
          </div>
          <div class="row">
            <div class="column"><h3 style="font-size:20px;">Pets?</h3></div>
            <div class="column">
              <label for="yes">Yes</label>
              <input name="pets" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="pets" id="no" value="N" type="radio" />
            </div>
          </div>
          <div class="row">
            <div class="column">
              <h3 style="font-size:20px;">Are You With Family?</h3>
            </div>
            <div class="column">
              <label for="yes">Yes</label>
              <input name="family" id="yes" value="Y" type="radio" />
            </div>
            <div class="column">
              <label for="no">No</label>
              <input name="family" id="no" value="N" type="radio" />
            </div>
          </div>
          <button
            style="background-color: #2dd844"
            type="submit"
            id="continue"
            onclick="window.location.href = 'http://localhost:5000/index';"
          >
            Continue
          </button>
        </form>
      </div>
      <div class="Menu ContactForm">
        <h2 style="text-decoration:underline; font-size:28px;">
          Emergency Contact Form
        </h2>
        <label style="color:#ef0b31" for="#EES"
          ><i>Eugene Emergency Services</i></label
        >
        <a id="EES" style="" href="#">
          <label for="">Phone: </label>(541) 344-8757</a
        >
        <a style="font-size:20px;" href="5413448757"
          ><label for="">Location: </label>1255 Hilyard St, Eugene, OR 97401</a
        >
        <br />
        <br />
        <label style="color:#ef0b31" for="#SHMC"
          ><i>Sacred Heart Medical Center Home Health Services</i></label
        >
        <a id="SHMC" style="" href="tel:5414617550">
          <label for="">Phone: </label>(541) 461-7550</a
        >
        <a style="font-size:20px;" href="#"
          ><label for="">Location: </label>677 E 12th Ave, Eugene, OR 97401</a
        >
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </body>
</html>
