<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homeless Resource Finder</title>
    <link rel="icon" href="../static/images/favicon.png" />
    <link rel="stylesheet" href="../static/css/gallery.css" />
  </head>
  <body onload="getLocation()">
    <div class="container">
      <div class="Menu Header">
        <div id="header_row" class="row">
          <div class="column">
            <button
              style="position:absolute; top:10px; left:10px; font-size:24px; color:white; background-color:red; padding: 4px; border-radius:5px;"
              onclick="window.location.href='/about'"
            >
              Restart
            </button>
            <button
              style="position:absolute; top:10px; left:115px; font-size:24px; color:white; background-color:white; padding: 4px; border-radius:5px;"
              onclick="window.location.href='/index_es'"
            >
              <img
                style="height:23px; width:28px;"
                src="../static/images/Espanol.png"
                alt=""
              />
            </button>
            <span class="btnsize">
              <img
                id="zoom"
                style="width:50px; height:50px; position:absolute; bottom:10px; left:10px;"
                src="../static/images/zoomin.png"
                alt=""
              />
            </span>
          </div>
          <div class="column">
            <h1>Homeless Resource Finder</h1>
            <h3><i>Lane County, OR </i></h3>
          </div>
          <div class="column">
            <a href="https://lanecounty.org/">
              <img
                id="lanecounty"
                style="height:150px; width:100px; position:absolute; right:0; top:25px; margin-right:60px;"
                src="../static/images/lanecounty.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>

      <div class="Menu Resources">
        <form method="POST" action="/search" id="search" name="resGet">
          <h2 style="text-decoration:underline;">Available Resources</h2>
          <div id="buttonWrapper">
            <button type="submit" id="beds" name="sub" value="beds">
              Beds<img
                style="height:25%; width:25%; padding-left:10px;"
                src="../static/images/bed.png"
              />
            </button>
            <br />
            <button type="submit" id="food" name="sub" value="food">
              Food<img
                style="height:25%; width:25%; padding-left:10px;"
                src="../static/images/food.png"
              />
            </button>
            <br />
            <button type="submit" id="clinic" name="sub" value="clinic">
              Clinics<img
                style="height:25%; width:25%; padding-left:10px;"
                src="../static/images/clinic.png"
              />
            </button>
          </div>
          <p style="color: #444;">
            Select an option to learn about related resources in your area.
          </p>
        </form>
      </div>
      <div class="Menu ContactForm">
        <h2 style="font-size:28px;">Emergency Contacts</h2>
        <hr />
        <!-- IDEA: City of Eugene Helpline Contact Form -->

        <label style="color:#ef0b31" for="#EES"
          ><i>Eugene Emergency Services</i></label
        >
        <a id="EES" style="" href="tel:5413448757">
          <label for="">Phone: </label><u>(541) 344-8757</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a
          style="font-size:20px;"
          href="https://maps.google.com/maps?q=1255 Hilyard St, Eugene, OR 97401"
          target="_blank"
          ><label for="">Location: </label
          ><u>1255 Hilyard St, Eugene, OR 97401</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Sacred Heart Helpline Contact Form -->
        <hr />

        <label style="color:#ef0b31" for="#SHMC"
          ><i>Sacred Heart Medical Center Home Health Services</i></label
        >
        <a id="SHMC" style="" href="tel:5414617550">
          <label for="">Phone: </label><u>(541) 461-7550</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
          />
        </a>
        <a
          style="font-size:20px;"
          href="https://maps.google.com/maps?q=677 E 12th Ave, Eugene, OR 97401"
          target="_blank"
          ><label for="">Location: </label
          ><u>677 E 12th Ave, Eugene, OR 97401</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>

        <!-- IDEA: Non-Emergency Helpline Contact Form -->
        <hr />
        <label style="color:#ef0b31" for="#NEH"
          ><i>Non-Emergency Helpline</i></label
        >
        <a id="NEH" style="" href="tel:5416825111">
          <label for="">Phone: </label><u>(541) 682-5111</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/phone_icon.png"
            alt=""
        /></a>
        <a
          style="font-size:20px;"
          href="https://maps.google.com/maps?q=2232 Coburg Rd, Eugene, OR 97401"
          target="_blank"
          ><label for="">Location: </label
          ><u>2232 Coburg Rd, Eugene, OR 97401</u>
          <img
            style="height:7%; width:7%;"
            src="../static/images/location_dopplar.png"
            alt=""
        /></a>
        <br />
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="../static/scale.js"></script>
  </body>
</html>
