<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homeless Resource Finder</title>
    <link rel="stylesheet" href="../static/css/gallery.css" />
  </head>
  <body>
    <div class="container">
      <div class="Menu Header">
        <h1>Homeless Resource Finder</h1>
        <h3>Eugene, OR</h3>
        <a
          style="position:absolute; top:10px; left:10px; font-size:24px; color:red;"
          href="http://localhost:5000/index"
          >Return Home</a
        >
      </div>
      <div class="Menu Resources">
        <!-- IDEA: Here is where we will inject the appropriate DB data -->
        {% for results in g.results %}
        <div id="filters">
          {%for img in results.Restrictions%}
          <img
            style="height:100px; width:100px; margin-left: 10px; float:left;"
            src="./static/images/{{img}}"
            alt=""
          />
          {% endfor %}
        </div>
        <div class="results">
          <h4 style="font-size:18px; margin-left: 20px;">{{results.Name}}</h4>
          <p>{{results.Address}}</p>
          <a href="tel:{{results.Phone}}">{{results.Phone}}</a>
        </div>
        {% endfor %}
      </div>
      <div class="Menu ContactForm">
        <h2 style="text-decoration:underline; font-size:28px;">
          Emergency Contact Form
        </h2>
        <label style="color:#ef0b31" for="#EES"
          ><i>Eugene Emergency Services</i></label
        >
        <a id="EES" style="" href="#">
          <label for="">Phone: </label>(541) 344-8757</a
        >
        <a style="font-size:20px;" href="5413448757"
          ><label for="">Location: </label>1255 Hilyard St, Eugene, OR 97401</a
        >
        <br />
        <label style="color:#ef0b31" for="#SHMC"
          ><i>Sacred Heart Medical Center Home Health Services</i></label
        >
        <a id="SHMC" style="" href="tel:5414617550">
          <label for="">Phone: </label>(541) 461-7550</a
        >
        <a style="font-size:20px;" href="#"
          ><label for="">Location: </label>677 E 12th Ave, Eugene, OR 97401</a
        >
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </body>
</html>
